#mainpage a.pagelib_edit_section_link,
.no-editing a.pagelib_edit_section_link {
  display: none;
}

.pagelib_edit_section_link_container {
  margin: 2px 16px;
  display: table-cell;
  vertical-align: bottom;
  opacity: .54;
}

.pagelib_theme_dark .pagelib_edit_section_link_container,
.pagelib_theme_black .pagelib_edit_section_link_container {
  opacity: .7;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.pagelib_theme_dark.pagelib_compatibility_filter .pagelib_edit_section_link_container,
.pagelib_theme_black.pagelib_compatibility_filter .pagelib_edit_section_link_container {
  -webkit-filter: none;
  filter: none;
}

.pagelib_theme_sepia .pagelib_edit_section_link_container {
  opacity: .7;
}

.content-rtl .pagelib_edit_section_link_container {
  float: left;
  -webkit-transform: scaleX( -1 );
  transform: scaleX( -1 );
}

a.pagelib_edit_section_link {
  position: relative;
  width: 24px;
  height: 24px;
  float: right;
  display: inline-block;
  background-size: 24px 24px;
  background-repeat: no-repeat;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgPGRlZnM+CiAgICA8cGF0aCBpZD0iYSIgZD0iTTMsMTcuMjQ3NSBMMywyMC45OTc1IEw2Ljc1LDIwLjk5NzUgTDE3LjgxNSw5LjkzMjUgTDE0LjA2NSw2LjE4MjUgTDMsMTcuMjQ3NSBaIE0yMC43MDUsNy4wNDI1IEMyMS4wOTUsNi42NTI1IDIxLjA5NSw2LjAxNzUgMjAuNzA1LDUuNjI3NSBMMTguMzcsMy4yOTI1IEMxNy45OCwyLjkwMjUgMTcuMzQ1LDIuOTAyNSAxNi45NTUsMy4yOTI1IEwxNS4xMjUsNS4xMjI1IEwxOC44NzUsOC44NzI1IEwyMC43MDUsNy4wNDI1IFoiLz4KICA8L2RlZnM+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDx1c2UgZmlsbD0iIzAwMDAwMCIgeGxpbms6aHJlZj0iI2EiLz4KICA8L2c+Cjwvc3ZnPgo=);
}

.pagelib_theme_dark.pagelib_compatibility_filter a.pagelib_edit_section_link,
.pagelib_theme_black.pagelib_compatibility_filter a.pagelib_edit_section_link {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiCiAgIHhtbG5zOnNvZGlwb2RpPSJodHRwOi8vc29kaXBvZGkuc291cmNlZm9yZ2UubmV0L0RURC9zb2RpcG9kaS0wLmR0ZCIKICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiCiAgIHdpZHRoPSIyNCIKICAgaGVpZ2h0PSIyNCIKICAgdmlld0JveD0iMCAwIDI0IDI0IgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmc5IgogICBzb2RpcG9kaTpkb2NuYW1lPSJlZGl0LWludmVydC5zdmciCiAgIGlua3NjYXBlOnZlcnNpb249IjAuOTIuMSByMTUzNzEiPgogIDxtZXRhZGF0YQogICAgIGlkPSJtZXRhZGF0YTEzIj4KICAgIDxyZGY6UkRGPgogICAgICA8Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+CiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+CiAgICAgICAgPGRjOnR5cGUKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPgogICAgICAgIDxkYzp0aXRsZT48L2RjOnRpdGxlPgogICAgICA8L2NjOldvcms+CiAgICA8L3JkZjpSREY+CiAgPC9tZXRhZGF0YT4KICA8c29kaXBvZGk6bmFtZWR2aWV3CiAgICAgcGFnZWNvbG9yPSIjZmZmZmZmIgogICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IgogICAgIGJvcmRlcm9wYWNpdHk9IjEiCiAgICAgb2JqZWN0dG9sZXJhbmNlPSIxMCIKICAgICBncmlkdG9sZXJhbmNlPSIxMCIKICAgICBndWlkZXRvbGVyYW5jZT0iMTAiCiAgICAgaW5rc2NhcGU6cGFnZW9wYWNpdHk9IjAiCiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIKICAgICBpbmtzY2FwZTp3aW5kb3ctd2lkdGg9IjE0MzIiCiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iODA5IgogICAgIGlkPSJuYW1lZHZpZXcxMSIKICAgICBzaG93Z3JpZD0iZmFsc2UiCiAgICAgaW5rc2NhcGU6em9vbT0iMTkuNjY2NjY3IgogICAgIGlua3NjYXBlOmN4PSI4LjY4MjE0NDUiCiAgICAgaW5rc2NhcGU6Y3k9IjEzLjE2NDUyOSIKICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMCIKICAgICBpbmtzY2FwZTp3aW5kb3cteT0iMCIKICAgICBpbmtzY2FwZTp3aW5kb3ctbWF4aW1pemVkPSIwIgogICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9InN2ZzkiIC8+CiAgPGRlZnMKICAgICBpZD0iZGVmczMiPgogICAgPHBhdGgKICAgICAgIGlkPSJhIgogICAgICAgZD0iTTMsMTcuMjQ3NSBMMywyMC45OTc1IEw2Ljc1LDIwLjk5NzUgTDE3LjgxNSw5LjkzMjUgTDE0LjA2NSw2LjE4MjUgTDMsMTcuMjQ3NSBaIE0yMC43MDUsNy4wNDI1IEMyMS4wOTUsNi42NTI1IDIxLjA5NSw2LjAxNzUgMjAuNzA1LDUuNjI3NSBMMTguMzcsMy4yOTI1IEMxNy45OCwyLjkwMjUgMTcuMzQ1LDIuOTAyNSAxNi45NTUsMy4yOTI1IEwxNS4xMjUsNS4xMjI1IEwxOC44NzUsOC44NzI1IEwyMC43MDUsNy4wNDI1IFoiIC8+CiAgPC9kZWZzPgogIDxnCiAgICAgZmlsbD0ibm9uZSIKICAgICBmaWxsLXJ1bGU9ImV2ZW5vZGQiCiAgICAgaWQ9Imc3IgogICAgIHN0eWxlPSJmaWxsOiNmZmZmZmYiPgogICAgPHVzZQogICAgICAgZmlsbD0iIzAwMDAwMCIKICAgICAgIHhsaW5rOmhyZWY9IiNhIgogICAgICAgaWQ9InVzZTUiCiAgICAgICBzdHlsZT0iZmlsbDojZmZmZmZmIiAvPgogIDwvZz4KPC9zdmc+Cg==');
}

.page-protected a.pagelib_edit_section_link {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZW5hYmxlLWJhY2tncm91bmQ6bmV3ICAgIDt9Cjwvc3R5bGU+Cjx0aXRsZT5lZGl0TG9ja2VkPC90aXRsZT4KPHBhdGggZD0iTTE1LDZoNmMwLjUsMCwxLDAuNCwxLDF2NGMwLDAuNS0wLjQsMS0xLDFoLTZjLTAuNSwwLTEtMC40LTEtMVY3QzE0LDYuNCwxNC40LDYsMTUsNnoiLz4KPHBhdGggZD0iTTE4LDJjLTEuNCwwLTIuNSwxLTIuNSwyLjR2MC4xdjJoMVY0LjhDMTYuNSw0LDE2LjUsMywxOCwzczEuNSwxLDEuNSwxLjh2MS44aDF2LTJjMC0xLjQtMS0yLjUtMi40LTIuNUMxOC4xLDIsMTgsMiwxOCwyeiIKCS8+CjxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0xMiwxMlY4LjJsLTksOVYyMWgzLjhsNy03QzEyLjgsMTMuOSwxMiwxMywxMiwxMnoiLz4KPC9zdmc+Cg==);
}

.pagelib_theme_dark.pagelib_compatibility_filter.page-protected a.pagelib_edit_section_link,
.pagelib_theme_black.pagelib_compatibility_filter.page-protected a.pagelib_edit_section_link {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4KCjxzdmcKICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIgogICB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiCiAgIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciCiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgeG1sbnM6c29kaXBvZGk9Imh0dHA6Ly9zb2RpcG9kaS5zb3VyY2Vmb3JnZS5uZXQvRFREL3NvZGlwb2RpLTAuZHRkIgogICB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIKICAgdmVyc2lvbj0iMS4xIgogICBpZD0iTGF5ZXJfMSIKICAgeD0iMHB4IgogICB5PSIwcHgiCiAgIHZpZXdCb3g9IjAgMCAyNCAyNCIKICAgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IgogICB4bWw6c3BhY2U9InByZXNlcnZlIgogICBzb2RpcG9kaTpkb2NuYW1lPSJlZGl0TG9ja2VkLWludmVydC5zdmciCiAgIGlua3NjYXBlOnZlcnNpb249IjAuOTIuMSByMTUzNzEiPjxtZXRhZGF0YQogICAgIGlkPSJtZXRhZGF0YTE3Ij48cmRmOlJERj48Y2M6V29yawogICAgICAgICByZGY6YWJvdXQ9IiI+PGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+PGRjOnR5cGUKICAgICAgICAgICByZGY6cmVzb3VyY2U9Imh0dHA6Ly9wdXJsLm9yZy9kYy9kY21pdHlwZS9TdGlsbEltYWdlIiAvPjxkYzp0aXRsZT5lZGl0TG9ja2VkPC9kYzp0aXRsZT48L2NjOldvcms+PC9yZGY6UkRGPjwvbWV0YWRhdGE+PGRlZnMKICAgICBpZD0iZGVmczE1IiAvPjxzb2RpcG9kaTpuYW1lZHZpZXcKICAgICBwYWdlY29sb3I9IiNmZmZmZmYiCiAgICAgYm9yZGVyY29sb3I9IiM2NjY2NjYiCiAgICAgYm9yZGVyb3BhY2l0eT0iMSIKICAgICBvYmplY3R0b2xlcmFuY2U9IjEwIgogICAgIGdyaWR0b2xlcmFuY2U9IjEwIgogICAgIGd1aWRldG9sZXJhbmNlPSIxMCIKICAgICBpbmtzY2FwZTpwYWdlb3BhY2l0eT0iMCIKICAgICBpbmtzY2FwZTpwYWdlc2hhZG93PSIyIgogICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iNjQwIgogICAgIGlua3NjYXBlOndpbmRvdy1oZWlnaHQ9IjQ4MCIKICAgICBpZD0ibmFtZWR2aWV3MTMiCiAgICAgc2hvd2dyaWQ9ImZhbHNlIgogICAgIGlua3NjYXBlOnpvb209IjkuODMzMzMzMyIKICAgICBpbmtzY2FwZTpjeD0iMTIuMjAzMzkiCiAgICAgaW5rc2NhcGU6Y3k9IjExLjU5MzIyIgogICAgIGlua3NjYXBlOndpbmRvdy14PSIwIgogICAgIGlua3NjYXBlOndpbmRvdy15PSIwIgogICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjAiCiAgICAgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0iTGF5ZXJfMSIgLz48c3R5bGUKICAgICB0eXBlPSJ0ZXh0L2NzcyIKICAgICBpZD0ic3R5bGUyIj4KCS5zdDB7ZW5hYmxlLWJhY2tncm91bmQ6bmV3ICAgIDt9Cjwvc3R5bGU+PHRpdGxlCiAgICAgaWQ9InRpdGxlNCI+ZWRpdExvY2tlZDwvdGl0bGU+PHBhdGgKICAgICBkPSJNMTUsNmg2YzAuNSwwLDEsMC40LDEsMXY0YzAsMC41LTAuNCwxLTEsMWgtNmMtMC41LDAtMS0wLjQtMS0xVjdDMTQsNi40LDE0LjQsNiwxNSw2eiIKICAgICBpZD0icGF0aDYiCiAgICAgc3R5bGU9ImZpbGw6I2ZmZmZmZiIgLz48cGF0aAogICAgIGQ9Ik0xOCwyYy0xLjQsMC0yLjUsMS0yLjUsMi40djAuMXYyaDFWNC44QzE2LjUsNCwxNi41LDMsMTgsM3MxLjUsMSwxLjUsMS44djEuOGgxdi0yYzAtMS40LTEtMi41LTIuNC0yLjVDMTguMSwyLDE4LDIsMTgsMnoiCiAgICAgaWQ9InBhdGg4IgogICAgIHN0eWxlPSJmaWxsOiNmZmZmZmYiIC8+PHBhdGgKICAgICBjbGFzcz0ic3QwIgogICAgIGQ9Ik0xMiwxMlY4LjJsLTksOVYyMWgzLjhsNy03QzEyLjgsMTMuOSwxMiwxMywxMiwxMnoiCiAgICAgaWQ9InBhdGgxMCIKICAgICBzdHlsZT0iZmlsbDojZmZmZmZmIiAvPjwvc3ZnPg==');
}

.pagelib_platform_android a.pagelib_edit_section_link:active {
  background-color: transparent;
}

.pagelib_platform_android a.pagelib_edit_section_link:before {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 50%;
   -webkit-transform: scale( 0 );
  transform: scale( 0 );
  -webkit-transition: transform 300ms cubic-bezier( 0.25, 0.46, 0.45, 0.94 );
  transition: transform 300ms cubic-bezier( 0.25, 0.46, 0.45, 0.94 ); /* ease out quad */
}

.pagelib_platform_android a.pagelib_edit_section_link:active:before {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-color: #eee;
  -webkit-transform: scale( 0.6 );
  transform: scale( 0.6 );
}

.pagelib_platform_android.pagelib_theme_dark.pagelib_compatibility_filter a.pagelib_edit_section_link:active:before,
.pagelib_platform_android.pagelib_theme_black.pagelib_compatibility_filter a.pagelib_edit_section_link:active:before {
  background-color: #111;
}

.pagelib_platform_ios h3.section_heading span.pagelib_edit_section_link_container,
.pagelib_platform_ios h4.section_heading span.pagelib_edit_section_link_container,
.pagelib_platform_ios h5.section_heading span.pagelib_edit_section_link_container,
.pagelib_platform_ios h6.section_heading span.pagelib_edit_section_link_container {
    display: none;
}
