.pagelib_footer_section a:hover {
  text-decoration: none;
}

h2#pagelib_footer_container_readmore_heading,
h2#pagelib_footer_container_menu_heading {
  text-transform: uppercase;
  font-size: 15pt;
  color: #72777d;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Lato,Helvetica,Arial,sans-serif;
  background-color: #f8f9fa;
  margin: 0 calc(50% - 50vw);
  padding: 1.5em calc(50vw - 50%) 0.5em calc(50vw - 50%);
}

.pagelib_theme_sepia h2#pagelib_footer_container_readmore_heading,
.pagelib_theme_sepia h2#pagelib_footer_container_menu_heading {
  background-color: #f0e6d6;
}
.pagelib_theme_dark h2#pagelib_footer_container_readmore_heading,
.pagelib_theme_dark h2#pagelib_footer_container_menu_heading {
  background-color: #27292d;
}
.pagelib_theme_black h2#pagelib_footer_container_readmore_heading,
.pagelib_theme_black h2#pagelib_footer_container_menu_heading {
  background-color: #222222;
}

.pagelib_theme_dark h2#pagelib_footer_container_readmore_heading,
.pagelib_theme_black h2#pagelib_footer_container_readmore_heading,
.pagelib_theme_dark h2#pagelib_footer_container_menu_heading,
.pagelib_theme_black h2#pagelib_footer_container_menu_heading {
  color: #f8f9fa;
}

section#pagelib_footer_container_legal {
  background-color: #f8f9fa;
  margin: 0 calc(50% - 50vw);
  padding: .5em calc(50vw - 50%);
}

.pagelib_theme_sepia section#pagelib_footer_container_legal {
  background-color: #f0e6d6;
}

.pagelib_theme_dark section#pagelib_footer_container_legal {
  background-color: #27292d;
}

.pagelib_theme_black section#pagelib_footer_container_legal {
  background-color: #222222;
}
