.pagelib_footer_section {
  padding-bottom: 1.5em;
}

.pagelib_footer_section a:hover {
  text-decoration: none;
}

#pagelib_footer_container_menu_items {
  background-color: #c8ccd1;
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.pagelib_theme_dark #pagelib_footer_container_menu_items,
.pagelib_theme_black #pagelib_footer_container_menu_items {
  background-color: #43464a;
}

.pagelib_theme_sepia #pagelib_footer_container_menu_items {
  background-color: #cbc8c1;
}
