.pagelib_footer_readmore_page {
  background-color: white;
  padding: 11px 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(200, 204, 209, 0.5);
  display: block;
}

.pagelib-theme-dark .pagelib_footer_readmore_page {
  background-color: #2e3136;
  box-shadow: 0px 2px 4px rgba(67, 70, 74, 0.75);
}

.pagelib-theme-sepia .pagelib_footer_readmore_page {
  background-color: #f0e6d6;
  box-shadow: 0px 2px 4px rgba(203, 200, 193, 0.5);
}

.pagelib_footer_readmore_page_container {
}

#pagelib_footer_container_readmore_heading {
  font-size: 24px;
}

.pagelib_footer_readmore_page_title {
  color: #222;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagelib-theme-dark .pagelib_footer_readmore_page_title {
  color: #f8f9fa;
}

.pagelib_footer_readmore_page_description {
  color: #a2a9b1;
  display: block;
  font-size: 0.9em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.pagelib-theme-sepia .pagelib_footer_readmore_page_description {
  color: #7c776e;
}

.pagelib_footer_readmore_page_description::first-letter {
  text-transform: uppercase;
}

.pagelib_footer_readmore_bookmark_filled {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiBAMAAAC3uAQAAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAACdQTFRFAAAAQID/PGnSNmvQNWnONWfMM2fNNGbNNGbMM2fNNGfMM2bM////H6I4qQAAAAt0Uk5TAAQRJkRqlbvZ7vu+JdyCAAAAAWJLR0QMgbNRYwAAAEhJREFUGNNj3M2AAEwMoxySOK/mIzj/Zq96AOecOvBnLowDYp06AOWA1PybDeFAdINIJogYRJ4JohqikwliDsRMZrYDMM7/mwClEx4uyFBI7QAAAABJRU5ErkJggg==');
}

.pagelib_footer_readmore_bookmark_unfilled {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiCAMAAABySOkBAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAHtQTFRFAAAAQID/RnTRPGnSOXHVNmvXPW3ONmzRNmvQNGnROGrNNGjQNWnONGfPNWfNM2bMNWfMM2bMM2fOM2fNNGbNM2fNNGbNNGbNM2fNNGfMNGbNNGbMM2fNNGfMNGfMM2fNM2bNM2bMNGbMM2bNNGfMNGbMM2bNM2bM////8r6QcgAAACd0Uk5TAAQLERITFSEmJykxREVIWmpucpWYn7a7vcnK2drd5+7v8PL5+/z+WW5CCAAAAAFiS0dEKL2wtbIAAACQSURBVCjP7dLbEsEwFEbhP+pQBKEoijiE9f5v6CJTTUe9gLFuv5nsvWciviQ4dAQCdfSH34KB64bJiY3pgPkV2PY+YPkIzgX2wzaYNd5K1nMcpdDfUeWSlFecpw2Mj5RZfDErudkaZheKeh2ZgvsiggvBpce58FyBAG/bZ1sff3scm5ZXoPfYtKxEzdg0U7wA3ssgdYezF58AAAAASUVORK5CYII=');
}

.pagelib-theme-dark .pagelib_footer_readmore_bookmark_filled {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiBAMAAAC3uAQAAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAACdQTFRFAAAAgL//aaX/a5r/aZr/Z5r/Z5r/Zpr/Zpr/Z5n/Z5n/Zpn/////4bALDwAAAAt0Uk5TAAQRJkRqlbvZ7vu+JdyCAAAAAWJLR0QMgbNRYwAAAEhJREFUGNNj3M2AAEwMoxySOK/mIzj/Zq96AOecOvBnLowDYp06AOWA1PybDeFAdINIJogYRJ4JohqikwliDsRMZrYDMM7/mwClEx4uyFBI7QAAAABJRU5ErkJggg==');
}

.pagelib-theme-dark .pagelib_footer_readmore_bookmark_unfilled {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAiCAMAAABySOkBAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAHtQTFRFAAAAgL//dKL/aaX/cZz/a6H/bZ7/bJv/a5r/aZ3/apv/aJz/aZr/Z5v/Z5z/Zpn/Z5r/Zpn/Z5r/Z5r/Zpr/Z5r/Zpr/Zpr/Z5r/Z5r/Zpr/Zpr/Z5n/Z5n/Z5n/Z5n/Zpr/Zpn/Zpr/Zpr/Z5n/Zpr/Zpr/Zpn/////i03Y4gAAACd0Uk5TAAQLERITFSEmJykxREVIWmpucpWYn7a7vcnK2drd5+7v8PL5+/z+WW5CCAAAAAFiS0dEKL2wtbIAAACQSURBVCjP7dLbEsEwFEbhP+pQBKEoijiE9f5v6CJTTUe9gLFuv5nsvWciviQ4dAQCdfSH34KB64bJiY3pgPkV2PY+YPkIzgX2wzaYNd5K1nMcpdDfUeWSlFecpw2Mj5RZfDErudkaZheKeh2ZgvsiggvBpce58FyBAG/bZ1sff3scm5ZXoPfYtKxEzdg0U7wA3ssgdYezF58AAAAASUVORK5CYII=');
}

.pagelib_footer_readmore_page_save {
  color: #2c5bc5;
  height: 29px;
  padding-left: 24px;
  padding-right: 24px;
  background-size: 12px 17px;
  background-repeat: no-repeat;
  font-size: .9em;
  font-weight: 500; 
  display: table-cell;
  vertical-align: middle;
}

.pagelib-theme-dark .pagelib_footer_readmore_page_save {
  color: #69f;
}

.pagelib_footer_readmore_page_save {
  background-position: left center;
}

html[dir='rtl'] .pagelib_footer_readmore_page_save,
.content-rtl .pagelib_footer_readmore_page_save {
  background-position: right center;
}

.pagelib_footer_readmore_page_image {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.pagelib_footer_readmore_page_image {
  float: right;
  margin-left: 8px;
  margin-right: 0px;
}

html[dir='rtl'] .pagelib_footer_readmore_page_image,
.content-rtl .pagelib_footer_readmore_page_image {
  float: left;
  margin-right: 8px;
  margin-left: 0px;
}