.pagelib_footer_section {
  padding-bottom: 1.5em;
}

.pagelib_footer_section a:hover {
  text-decoration: none;
}

h2#pagelib_footer_container_readmore_heading,
h2#pagelib_footer_container_menu_heading {
  text-transform: uppercase;
  font-size: 15pt;
  color: #72777d;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Lato,Helvetica,Arial,sans-serif;
}

.pagelib_theme_dark h2#pagelib_footer_container_readmore_heading,
.pagelib_theme_black h2#pagelib_footer_container_readmore_heading,
.pagelib_theme_dark h2#pagelib_footer_container_menu_heading,
.pagelib_theme_black h2#pagelib_footer_container_menu_heading {
  color: #f8f9fa;
}

#pagelib_footer_container_menu {
  margin: 0px -20px;
}