.pagelib_footer_container {
  background-color: #eaecf0;
}

.pagelib-theme-dark .pagelib_footer_container {
  background-color: #222;
}

.pagelib-theme-sepia .pagelib_footer_container {
  background-color: #e1dad1;
}

.pagelib_footer_container_heading {
  padding-top: 35px;
  font-size: 0.95em;
  line-height: 1.6;
}

#pagelib_footer_container_readmore_pages {
}

#pagelib_footer_container_menu_heading {
  margin-bottom: 10px;
}

#pagelib_footer_container_menu_items {
  background-color: #c8ccd1;
  display: table;
  width: 100%;
  border-collapse: collapse;
  line-height:22px;
}

.pagelib-theme-dark #pagelib_footer_container_menu_items {
  background-color: #43464a;
}

.pagelib-theme-sepia #pagelib_footer_container_menu_items {
  background-color: #cbc8c1;
}
