/* Transform lifecycle:

- Original:
    <img class=foo style='width: 100px; height: 200px' width=3 height=4 src=/ srcset=/ alt=bar>

- Pending:
    <span class='foo pagelib_lazy_load_placeholder pagelib_lazy_load_placeholder_pending'
      style='width: 100px' data-class=foo data-style='width: 100px; height: 200px' data-width=3
      data-height=4 data-src=/ data-srcset=/ data-alt=bar>
      <span style='padding-top: 200%'></span>
    </span>

- Loading:
    <span class='foo pagelib_lazy_load_placeholder pagelib_lazy_load_placeholder_loading'
      style='width: 100px' data-class=foo data-style='width: 100px; height: 200px' data-width=3
      data-height=4 data-src=/ data-srcset=/ data-alt=bar>
      <span style='padding-top: 200%'></span>
    </span>

    <!-- Detached. -->
    <img class='foo pagelib_lazy_load_image_loading' style='width: 100px; height: 200px' width=3
      height=4 src=/ srcset=/ alt=bar>

- Error:
    <span class='foo pagelib_lazy_load_placeholder pagelib_lazy_load_placeholder_error'
      style='width: 100px' data-class=foo data-style='width: 100px; height: 200px' data-width=3
      data-height=4 data-src=/ data-srcset=/ data-alt=bar>
      <span style='padding-top: 200%'></span>
    </span>

- Loaded:
    <img class='foo pagelib_lazy_load_image_loaded' style='width: 100px; height: 200px' width=3
      height=4 src=/ srcset=/ alt=bar> */

/* LazyLoadTransform.PLACEHOLDER_CLASS. Present in all placeholder states. Image is not shown. */
.pagelib_lazy_load_placeholder {
  display: inline-block;
  max-width: 100%;
  /* width is an inline style. */
}

.pagelib_lazy_load_placeholder span {
  display: block;
  width: 100%;
  /* padding-top is an inline style. */
}

/* LazyLoadTransform.PLACEHOLDER_PENDING_CLASS. Download pending, image is not shown. */
.pagelib_lazy_load_placeholder_pending {
  background-color: #eaecf0;
}
.pagelib_theme_dark .pagelib_lazy_load_placeholder_pending {
  background-color: #72777d;
}
.pagelib_theme_black .pagelib_lazy_load_placeholder_pending {
  background-color: #43464a;
}

/* LazyLoadTransform.PLACEHOLDER_LOADING_CLASS. Download started, image is not shown. */
.pagelib_lazy_load_placeholder_loading {
  -webkit-animation: pagelib_lazy_load_placeholder_pulse 1s infinite;
  animation: pagelib_lazy_load_placeholder_pulse 1s infinite;
}
.pagelib_theme_dark .pagelib_lazy_load_placeholder_loading,
.pagelib_theme_black .pagelib_lazy_load_placeholder_loading {
  -webkit-animation: pagelib_lazy_load_placeholder_pulse_dark 1s infinite;
  animation: pagelib_lazy_load_placeholder_pulse_dark 1s infinite;
}

/* LazyLoadTransform.PLACEHOLDER_ERROR_CLASS. Download failure, image is not shown. */
.pagelib_lazy_load_placeholder_error {
  background-color: #c8ccd1;
}
.pagelib_theme_dark .pagelib_lazy_load_placeholder_error {
  background-color: #54595d;
}
.pagelib_theme_black .pagelib_lazy_load_placeholder_error {
  background-color: #27292d;
}

/* LazyLoadTransform.IMAGE_LOADING_CLASS. Download started, image is not shown. */
.pagelib_lazy_load_image_loading {
  opacity: 0;
}

/* LazyLoadTransform.IMAGE_LOADED_CLASS. Download completed, placeholder is removed. */
.pagelib_lazy_load_image_loaded {
  -webkit-animation: pagelib_lazy_load_image_fade_in .3s ease-in;
  animation: pagelib_lazy_load_image_fade_in .3s ease-in;
  background-color: #fff;
}

/* Many images, such as the Barack Obama infobox image, expect middle alignment.
   https://en.m.wikipedia.org/wiki/Barack_Obama?oldid=789232530 */
.content .pagelib_lazy_load_placeholder {
  vertical-align: middle;
}

/* https://phabricator.wikimedia.org/diffusion/EMOB/browse/master/styles/android/parsoid.less;4964fcc32aa9d68238dbc8ef59ebadb03d276e62$10 */
.content figure .pagelib_lazy_load_placeholder {
  margin: .6em auto;
  display: block;
  clear: both;
}

@-webkit-keyframes pagelib_lazy_load_placeholder_pulse {
  0%, 100% { background-color: #eaecf0; } 50% { background-color: #c8ccd1; }
}

@keyframes pagelib_lazy_load_placeholder_pulse {
  0%, 100% { background-color: #eaecf0; } 50% { background-color: #c8ccd1; }
}

@-webkit-keyframes pagelib_lazy_load_placeholder_pulse_dark {
  0%, 100% { background-color: #72777d; } 50% { background-color: #a2a9b1; }
}

@keyframes pagelib_lazy_load_placeholder_pulse_dark {
  0%, 100% { background-color: #72777d; } 50% { background-color: #a2a9b1; }
}

@-webkit-keyframes pagelib_lazy_load_image_fade_in {
  from { opacity: 0; } to { opacity: 1; }
}

@keyframes pagelib_lazy_load_image_fade_in {
  from { opacity: 0; } to { opacity: 1; }
}